* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cairo', sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
}

/* desktop */

/* header */

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.313rem 6.25rem 0;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0 8px 6px -5px rgb(143, 143, 143);

}

.nav-holder {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

a {
  text-decoration: none;
  color: black;
}

nav li {
  list-style: none;
}

.nav-link {
  display: flex;
  gap: 3rem;
  margin: 0;
}

.logo {
  font-size: 2rem;
  color: #0290ff;
}

.user-details {
  padding: 0.8rem;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}

.person {
  color: #0290ff;
}

/* books */
.book-container {
  margin-top: 8rem;
}

.book {
  display: grid;
  grid-template-columns: 2.5fr 0.75fr 0.75fr;
  gap: 5rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem;
  background: white;
}

.spinner-img {
  width: 5rem;
}

.percentage {
  font-size: 2rem;
}

.det-holder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.det-holder h1 {
  font-size: 1.2rem;
}

.action-options {
  margin-top: 1rem;
}

.status {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.book-container button {
  font-size: 1rem;
}

.author {
  color: #4386bf;
}

.category {
  font-size: 0.875rem;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.5);
}

#remove {
  padding: 0 1rem;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

.action {
  background: none;
  border: none;
  margin-right: 1rem;
  color: #4386bf;
}

#update,
#add {
  padding: 0.5rem 1rem;
  background-color: #0290ff;
  color: #e8e8e8;
  border: none;
}

#add {
  padding: 0.75rem 1.5rem;
}

.position {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Roboto Slab', serif;
}

#update {
  font-size: 0.813rem;
  font-weight: 300;
}

.pos-header {
  font-size: 0.813rem;
  opacity: 0.5;
  font-weight: 300;
}

.pos-details {
  font-size: 1rem;
  font-weight: 300;
}

/* add book */

.add-book {
  display: flex;
  flex-direction: column;
  margin: 2.313rem 6.25rem 2rem;
  gap: 1.5rem;
}

.add-book h1 {
  color: #888888
}

.form-data {
  display: grid;
  grid-template-columns: 1.5fr 0.75fr 0.75fr 0.5fr;
  gap: 2.5rem;
  grid-auto-flow: column;
}

.form-data input {
  border: 1px solid #e8e8e8;
  background-color: white;
  padding: 0.75rem 1rem;
}

/* mobile */

@media only screen and (max-width: 768px) {
  .header {
    align-items: flex-start;
    padding: 1rem 2rem;
  }
  
  .nav-holder {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .nav-link {
    gap: 1rem;
  }

  .book {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    margin: 1rem 2rem;
  }

  .add-book {
    align-items: center;
    margin: 1rem 2rem;
  }

  .form-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}